/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #f58c71; */
    background-image: url(images/strand.JPG)
    background-size: cover;
    /* overflow: hidden; */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #fcfcfc; 
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #74d6f9;
    color: rgb(0, 0, 0);
  }

  /* .topnav-background {
    background-image: url("./images/hill.jpeg");
    background-size: cover;

    /* Workaround for some mobile browsers
    min-height: 100%;
} */