/* Add a black background color to the top navigation */
.topnav {
    /* background-color: #f58c71; */
    /* background-image: url(images/strand.JPG) */
    /* background-size: cover; */
    /* overflow: hidden; */
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #fcfcfc; 
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #74d6f9;
    color: rgb(0, 0, 0);
  }

  /* .topnav-background {
    background-image: url("./images/hill.jpeg");
    background-size: cover;

    /* Workaround for some mobile browsers
    min-height: 100%;
} */

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* Set the background image */
    body {
    /* background-image: url('images/heatmap.png'); */
    /* background-color:#5b555f; */
    background-color:#4a4f62;
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Make the body take up the full viewport height */
    overflow: hidden; /* Hide any overflow content */
    }

    .background-image {
    position: relative;
    height: 100vh;
    }

    .background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    }

    /* .content {
    position: relative;
    z-index: 1;
    /* Other styles */
    /*} */

#fig_el318911402550111960648228013319 {
    position:absolute;
    /* top:330px; */
    bottom: 0px;
    left: -150px;
    /*right:50%; /* Positions 50% from right (right edge will be at center) */
    /*margin-right:200px; /* Positions 200px to the left of center */
}

#b52652f4-c96a-4239-9d7b-5060eac8efe6 {
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    /* height: 50vh; */
}