@font-face {
  font-family: 'JBM-Thin';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'JBM-Italic';
  src: url('/fonts/JetBrainsMono/JetBrainsMono-Italic.ttf') format('truetype');
}

body {
  font-family: 'JBM Thin', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

.homepage h6 {
  font-family: 'JBM-Italic', sans-serif;
}
