:root {
    --background-color: #10151D;
    --text-color: #ccc;
    --heading-color: #3f6b7a;
    --menu-text-color: #fff;
    --menu-underline-color: #fff;
    --article-meta-background: #3f6b7a;
    --article-meta-text-color: #333;
    --hr-1-color: #E795C0;
    --hr-2-color: #78A6D1;
    --pre-border-color: #ddd;
    --pre-box-shadow-color: #eee;
    --code-background-color: #f9f9f9;
    --blockquote-background: #f9f9f9;
    --blockquote-border-color: #ccc;
    --table-border-color: #666;
    --table-header-border-color: #ddd;
    --table-row-background: #eee;
}

body {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1em;
}

/* Home page specific styles */
body.homepage {
    background-color: var(--background-color);
}

.homepage-hr-1 {
    border-style: solid;
    color: var(--hr-1-color);
    margin-top: 0;
}

.homepage-hr-2 {
    border-style: solid;
    color: var(--hr-2-color);
    margin-top: 0;
}

.homepage h1 {
    color: var(--heading-color);
    font-size: 2.5em;
}

.homepage h6 {
    color: var(--heading-color);
    font-size: 0.7em;
    margin-top: 0.1em;
    letter-spacing: 0.5em;
}

.homepage p {
    color: var(--text-color);
    font-size: 1em;
}

.homepage img {
    max-width: 90% !important;
    display: block;
    margin: auto;
}

/* end homepage */

a {
    color: var(--text-color);
}

a:hover {
    color: var(--heading-color);
}

/* custom menu */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 1.2em;
}

.menu li {
    display: flex;
    flex-direction: row;
    margin: 1em;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .menu {
        flex-direction: column; /* Stack menu items vertically */
        align-items: center; /* Center align items */
    }

    .menu li {
        margin: 0.5em 0; /* Adjust margin for smaller screens */
    }
}

.menu a {
    text-decoration: none;
    background: none;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    color: var(--menu-text-color); /* Ensure the text color is set */
}

.menu a:visited {
    color: var(--menu-text-color);
}

/* Hover animation */
.menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 0;
    background: var(--menu-underline-color); /* Set the underline color */
    transition: width 0.2s ease-in-out;
}

.menu a:hover::after {
    width: 100%;
}

/* end custom menu */

/* header and footer areas */
.article-meta {
    text-decoration: none;
    background: var(--article-meta-background);
    padding: 5px;
    border-radius: 5px;
}

.article-meta, footer {
    text-align: center;
}

.title {
    font-size: 1.1em;
}

footer a {
    text-decoration: none;
}

hr {
    border-style: solid;
    color: var(--hr-color);
}

/* code */
pre {
    border: 1px solid var(--pre-border-color);
    box-shadow: 5px 5px 5px var(--pre-box-shadow-color);
    padding: 1em;
    overflow-x: auto;
}

code {
    background: var(--code-background-color);
}

pre code {
    background: none;
}

/* misc elements */
img, iframe, video {
    max-width: 100%;
}

main {
    hyphens: auto;
}

blockquote {
    background: var(--blockquote-background);
    border-left: 5px solid var(--blockquote-border-color);
    padding: 3px 1em 3px;
}

table {
    margin: auto;
    border-top: 1px solid var(--table-border-color);
    border-bottom: 1px solid var(--table-border-color);
}

table thead th {
    border-bottom: 1px solid var(--table-header-border-color);
}

th, td {
    padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
    background: var(--table-row-background);
}

h2.date {
    font-size: 1.2em;
    /* margin-top: 0.5em; */
}