<!DOCTYPE html>

<html>
<head>
<title>tyler hext</title>
<link href="favicon.png" rel="shortcut icon" type="image/png"/>
<link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="outer-nav">
  <ul>
      <li style="float:left"><a href="index.html">Home</a></li>
      <li style="float:right"><a href="contact.html">Contact</a></li>
  </ul>
  <div class="inner-nav">
  <ul>
      <li><a href="running.html">Running</a></li>
      <li><a href="recipes.html">Recipes</a></li>
      <li><a href="photos.html">Photos</a></li>
  </ul>
  </div>
</nav>

<div>
  <img src="images/heatmap.png"  class="image-container">
</div>

<div class="metrics-overlay">
  <div class="metrics-inner">
  <div class="metrics-left">
  <h2>ytd miles</h2>
  <div class="shoe-totals">
    <h2>shoe totals</h2>
    {% for shoe in shoe_totals %}
        <p> {{ shoe.name }}: {{ shoe.distance }} </p>
    {% endfor %}
  </div>
  </div>
  <div class="metrics-right">
  <div class="runs">
    <div class="run-1">
      <h2>run 1</h2>
    </div>
    <div class="run-2">
      <h2>run 2</h2>
    </div>
    <div class="run-3">
      <h2>run 3</h2>
    </div>
    <div class="run-4">
      <h2>run 4</h2>
    </div>
    </div>
    </div>
  </div>
</div>

<script crossorigin="anonymous" src="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.0.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.1.0.min.js"></script>
<script crossorigin="anonymous" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.1.0.min.js"></script>
<div class="placeholder-bokeh-1">

{{ bokeh_div }}

{{ bokeh_script }}

</div>

</body>

</html>