{% extends "base.html" %}

{% block title %}about{% endblock %}

{% block content %}
<div class="about-main">
    <div class="about-cards-row">
        <div class="about-card">
            <h2>Reading</h2>
            <div class="about-card-content">
                <p class="about-book-title"><a href=https://mitpress.mit.edu/9780262048804/the-blind-spot/">The Blind Spot</a></p>
                <p class="about-book-author">Adam Frank, Evan Thompson, and Marcelo Gleiser</p>
            </div>
        </div>
        <div class="about-card">
            <h2>Listening</h2>
            <div class="about-card-content">
                <p class="about-album-title"><a href="https://en.wikipedia.org/wiki/Circles_(Mac_Miller_album)">Circles</a></p>
                <p class="about-album-artist">Mac Miller</p>
            </div>
        </div>
        <div class="about-card">
            <h2>Studying</h2>
            <div class="about-card-content">
                <p class="about-study-topic"><a href="https://www.thescienceofeverything.net/">The Science of Everything Podcast</a></p>
                <p class="about-study-topic">Non-euclidean geometries</p>
                <p class="about-study-topic">Artificial intelligence</p>
            </div>
        </div>
    </div>
    <div class="about-bio">
        <h2>About Me</h2>
        <p><!-- Write a short paragraph about yourself here --></p>
    </div>
</div>
{% endblock %}