/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* Set the background image */
body {
    background-image: url('images/catalina-2.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Make the body take up the full viewport height */
    overflow: hidden; /* Hide any overflow content */
    }

.background-image {
    position: relative;
    height: 100vh;
    }

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    }

/* styling nav bar */

nav ul li {
    display: inline-block;
}    

.outer-nav {
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: none;
  position: relative;
  z-index: 999;
}

.inner-nav {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  /* background-color: #8ebf42; */
  border: 3px black solid;
  border-radius: 10px;
}

.inner-nav li {
  margin: auto;
  width: 25%;
}


.box-1 {
        opacity: 0.50;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
     }

#bcd44a94-4a4a-41df-b3f8-a04f40df7ce2 {
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.image-container{
  max-width: 100%;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.metrics-overlay {
  max-width: 65.5%;
  opacity: 0.5;
  background-color: rgb(212, 172, 113);
  position: absolute;
  top: 10%;
  left: 10px;
  right: 10px;
  bottom: 4%;
  border: 3px solid green;
}

.metrics-inner {
  min-width: 90%;
  /* display:inline-block; */
  /* overflow-y: auto; */
  border: 3px solid blue;
}

.metrics-right {
  display: inline-block;
  min-width: 50%;
  height: 100%;
  border: 3px solid rgb(255, 0, 17);
  position:absolute;
  right: 0px;
}

.metrics-left {
  display: inline-block;
  border: 3px solid rgb(255, 255, 0);
}

.runs {
  height: 100%;
  overflow-y: auto;
}

.run-1 {
  /* position: absolute; */
  right: 3%;
  top: 4%;
  background-color: rgb(244, 12, 12);
  /* opacity: 0.5; */
  width: 100%;
  min-height: 60%
}

.run-2 {
  /* position: absolute; */
  right: 3%;
  top: 36%;
  background-color: rgb(33, 232, 15);
  /* opacity: 0.5; */
  width: 100%;
  min-height: 60%
}

.run-3 {
  /* position: absolute; */
  right: 3%;
  top: 68%;
  background-color: rgb(50, 148, 252);
  /* opacity: 0.5; */
  width: 100%;
  min-height: 60%
}

.run-4 {
  /* position: absolute; */
  right: 3%;
  /* top: 68%; */
  background-color: rgb(252, 50, 252);
  /* opacity: 0.5; */
  width: 100%;
  min-height: 60%
}