/* Add a black background color to the top navigation
.topnav {
    /* background-color: #342F24; */
    /* background-image: url(images/strand.JPG) */
    /* background-size: cover; */
    /* overflow: hidden; */
  /*} */
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #DCAAA9;
    text-align: center;
    padding: 7px 9px;
    text-decoration: none;
    font-size: 14px;
  }
  
  /* Change the color of links on hover */
.topnav a.inactive:hover {
    background-color: #DCAAA9; 
    color: #ade861;
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: #DCAAA9;
    color: #342F24;
  }

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    /* Set the background image */
body {
    background-image: url('images/palm.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh; /* Make the body take up the full viewport height */
    overflow: hidden; /* Hide any overflow content */
    }

.background-image {
    position: relative;
    height: 100vh;
    }

.background-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    }

.box-1 {
        opacity: 0.50;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
     }

#cde880e5-7bdf-4f11-b478-757f838905a2 {
  position:absolute;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  /* height: 50vh; */
}